[Unit]
Description=dhcp leases sniffer
Documentation=man:lsleases(1p) http://github.com/j-keck/lsleases

[Service]
User=nobody
ExecStart=/usr/bin/lsleases -s
ExecStop=/usr/bin/lsleases -x

[Install]
WantedBy=multi-user.target
  