#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_OPTIONS

export DH_GOPKG := github.com/j-keck/lsleases

%:
	dh $@

override_dh_installchangelogs:
	dch -v ${VERSION} -u low -D unstable -m "Release ${VERSION}"
	dh_installchangelogs

override_dh_installman:
	mkdir -p ${PACKAGE_ROOT}/usr/share/man/man1
	pandoc -s -t man ${BUILD_DIR}/MANUAL.md -o ${PACKAGE_ROOT}/usr/share/man/man1/lsleases.1

override_dh_builddeb:
	dh_builddeb --destdir ${BUILD_OUTPUT}/${DEB_HOST_ARCH}
