[Unit]
Description=lsleases - dhcp leases sniffer
After=network-interfaces.target

[Service]
ExecStart=/usr/bin/lsleases -s
ExecStop=/usr/bin/lsleases -x

[Install]
WantedBy=multi-user.target
